<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="diamond_hostv1.styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
    <HeadOutlet />
    <HeadContent>
        <div class="nav">
            <h1>Diamond Host</h1>
            <nav>
                <ul>
                    <li class="nav-item">
                        <i class="user">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                            </svg>
                        </i>
                    </li>
                    <li class="nav-item">
                        <a href="" >About</a>
                    </li>
                    <li class="nav-item">
                        <a href="" >Products</a>
                    </li>
                    <li class="nav-item">
                        <a href="" >Support</a>
                    </li>
                </ul>
            </nav>
        </div>
    </HeadContent>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
