@page "/Futtter"

<footer>
<hr style="margin-top: 50px; background-color="#6DA5C0"; color="#6DA5C0";">
<div class="foooter">
    <h3 class="footer-header">Diamond Host</h3>
    <div class="footer-content">
        <ul>
            <li class="footer-item">
                <a href="/About">About</a>
            </li>
            <li class="footer-item">
                <a href="/Products">Products</a>
            </li>
            <li class="footer-item">
                <a href="/TermsofService">Terms of Service</a>
            </li>
        </ul>
    </div>
</div>
</footer>
