@page "/"
<PageTitle>Home - Diamond Host</PageTitle>

<div class="main">
    <div class="content-mainweb">
        <div class="imgcard">
            <div class="card">
                <h1>Minecraft Server</h1>
                <p>We host free Minecraft server</p>
                <p>Whant to learn more?</p>
                <a class="button-learn">learn more</a>
            </div>
        </div>
    </div>

    <div class="products-mainweb">
        <div class="cards-pmain">
            <div class="card-one" style="margin-left: 50px;">
                <h1>Why us?</h1>
                <p style="padding-bottom: 5px;">We rely on a completely new hosting concept. You only pay as long as your server is running. And not with real money. Watch adverts to get coins. 100 coins are 1€, so your server can run for 2 hours. But don't worry, as soon as the coins are empty, you will receive a notification. Your server will continue to run and you can continue to play relaxed</p>
                <a class="button-learn">configure Server</a>
            </div>
            <div class="card-one" style="margin-right: 50px;">
                <h1>Features:</h1>
                <p style="padding-bottom: 5px;">We have a modern game panel with which you can manage your server. This makes it easy for you to change versions, install plugins, make backups and manage your users. You can also give your friends access to the server via accounts. You can download the backups and store them on your PC</p>
                <a class="button-learn">learn more</a>
            </div>
        </div>
    </div>
</div>


<Futtter />