@page "/Wartung"
@inject NavigationManager NavigationManager

<div class="wartung-head">
    <h1>Maintenance work</h1>
    <p>We are currently under maintenance</p>
    <p>pleace try again later</p>
    <div class="wartung-content">
        <p>For more information, you can join our Discord server or visit the Status website </p>
        <a class="button-wart" href="https://discord.gg/Z6ZEzxAFEn" target="_blank">Discord</a>
        <a class="button-wart" href="https://status.edv-hosting.com/status/edv-hosting" target="_blank">Status</a>
    </div>
</div>



