@page "/"
<PageTitle>Home - Diamond Host</PageTitle>

<div class="main">
    <div class="content-mainweb">
        <div class="imgcard">
            <img src="" class="main-minecraft">
            <div class="card">
                <h2>Minecraft</h2>
                <p>We host free Minecraft server</p>
                <p>Whant to learn more?</p>
                <a class="button-learn">learn more</a>
            </div>
        </div>
    </div>

    <div class="products-mainweb">

    </div>

    <div class="tech-mainweb">

    </div>
</div>


<Futtter />